{{ file_managed_by_ansible }}

[lockdown_details]
# Benchmark release
Benchmark_release = {{ benchmark }}
Benchmark_version = {{ benchmark_version }}
Benchmark_run_date = {{ '%Y-%m-%d - %H:%M:%S' | ansible.builtin.strftime }}
# If options set (doesn't mean it ran all controls)
cat_1_hardening_enabled = {{ ubtu24stig_cat1 }}
cat_2_hardening_enabled = {{ ubtu24stig_cat2 }}
cat_3_hardening_enabled = {{ ubtu24stig_cat3 }}

{% if ansible_run_tags | length > 0 %}
# If tags used to stipulate run level
{% if 'ubtu24stig_cat1' in ansible_run_tags %}
Cat_1_Server_tag_run = true
{% endif %}
{% if 'ubtu24stig_cat2' in ansible_run_tags %}
Cat_2_Server_tag_run = true
{% endif %}
{% if 'ubtu24stig_cat3' in ansible_run_tags %}
Cat_3_Server_tag_run = true
{% endif %}
{% endif %}
